---
layout: default
title: Home
---

<div class="masthead">
  <img src="/assets/profile.jpg" class="profile-image" />

  <p class="lead">
    <strong>Hello, I'm Landon Durnan.</strong> Front-end web developer based in the Bay Area. Obsessed with design systems. Takes pictures. Watches a lot of movies.
  </p>
</div>

<h3>Connect</h3>

<div class="social-container">
  <a href="https://www.linkedin.com/in/ldurnan/" target="_blank" class="social-link"><img src="/assets/social/linkedin.png" alt="LinkedIn" /></a>
  <a href="https://github.com/landondurnan" target="_blank" class="social-link"><img src="/assets/social/github.png" alt="Github" /></a>
  <a href="https://www.instagram.com/robotsarego/" target="_blank" class="social-link"><img src="/assets/social/instagram.png" alt="Instagram" /></a>
  <a href="https://letterboxd.com/robotsarego/" target="_blank" class="social-link"><img src="/assets/social/letterboxd.png" alt="Letterboxd" /></a>
  <a href="mailto:landon.durnan+personal@gmail.com" class="social-link"><img src="/assets/social/email.png" alt="Email" /></a>
</div>


<!--<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>-->
